.header-bg {
  background-color: var(--cor-012);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  display: inline-block;
  padding: 1rem 0rem;
  color: var(--white);
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 0%;
  background: var(--white);
  transition: width .15s linear;
  position: absolute;
  bottom: -0.3125rem;
  left: 50%;
  transform: translateX(-50%);
}

.header-menu a:hover::after {
  width: 100%;
}



@media (max-width:800px) {
  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a {
    background-color: var(--cor-011);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  .header-menu a:hover {
    background: var(--cor-010);
  }
}

@media (max-width:600px) {
  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    padding: 0.5rem 0.75rem;
  }
}