.introducao-bg {
  background-color: var(--cor-012);
  color: var(--white);
  box-shadow: inset 0rem -7.5rem 0rem 0rem var(--white);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 2.5rem;
  max-width: 75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  padding-bottom: 12.5rem;
  align-self: end;
}


.introducao h1 {
  margin-bottom: 2rem;
}

.introducao h1 span {
  color: var(--orange-001);
}

.introducao p {
  color: var(--cor-005);
  margin-bottom: 1.25rem;
}


.introducao img {
  border-radius: 0.3125rem;
  height: 100%;
  object-fit: cover;
}


@media (max-width:800px) {
  .introducao-bg {
    background: var(--cor-011);
    padding-top: 2.5rem;
    box-shadow: inset 0 -3.75rem 0rem var(--white);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0rem;
  }

  .introducao h1 {
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 18.75rem;
    width: 100%;
  }
}